# Ignorer les fichiers et les répertoires
.vscode
front_end/__pycache__/
back_end/__pycache__/
back_end/storage/
back_end/storage/users.json

app.py

*.pyc
*.pyo
*.pyd

front_end/routes/__pycache__
back_end/routes/__pycache__
