<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dark-mode/style.css') }}" id="theme-style">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/tools/tools.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/tools/colors.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/logo/logo.ico') }}">
    <title>Index</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<!-- Glows-div -->
<div class="container glow-div">

    <div class="text-center mt-3"><span class="placeholder col-5 " style="height: 50px;"></span></div>
    <p class="mt-3 placeholder-glow"><span class="placeholder col-5"></span><br></p>
    <div class="text-center"><span class="placeholder col-8" style="height: 30px;"></span></div>
    <p class="mt-3 placeholder-glow">
        <span class="placeholder col-5"></span><br>
        <span class="placeholder col-5"></span><br>
        <span class="placeholder col-5"></span>
    </p>

    <div class="movies mt-3">

        <div class="movie">
            <div class="movie-picture mb-1">
                <span class="glow-pic"></span>
            </div>
            <div class="movie-title">
                <p aria-hidden="true">
                    <span class="placeholder col-5"></span>
                </p>
            </div>
            <hr>
            <div class="d-flex gap-1 mb-1">
                <p aria-hidden="true">
                    <span class="placeholder col-5 font-size-XL color_8"></span>
                </p>
                <p aria-hidden="true">
                    <span class="placeholder col-5 font-size-M color_8"></span>
                </p>
            </div>
            <div class="d-flex gap-1 mb-1">
                <span class="material-icons font-size-XL color_8">calendar_month</span>
                <p aria-hidden="true">
                    <span class="placeholder col-5 font-size-M color_8"></span>
                </p>
            </div>
            <div class="movie-rating d-flex gap-1 mb-1">
                <span class="material-icons color_8">stars</span>
                <div class="movie-rating-stars ">
                    <i class="material-icons font-size-L star-gold">star</i>
                    <i class="material-icons font-size-L star-gold">star</i>
                    <i class="material-icons font-size-L star-gold">star</i>
                    <i class="material-icons font-size-L star-gold">star</i>
                    <i class="material-icons font-size-L star-silver">star</i>
                </div>
            </div>
            <hr>
            <div class="movie-action text-center">
                <p aria-hidden="true">
                    <span class="placeholder col-6"></span>
                </p>
                <p aria-hidden="true">
                    <span class="placeholder col-6"></span>
                </p>
                <p aria-hidden="true">
                    <span class="placeholder col-6"></span>
                </p>
            </div>
        </div>

        <div class="movie">
            <div class="movie-picture mb-1">
                <span class="glow-pic"></span>
            </div>
            <div class="movie-title">
                <p aria-hidden="true">
                    <span class="placeholder col-5"></span>
                </p>
            </div>
            <hr>
            <div class="d-flex gap-1 mb-1">
                <p aria-hidden="true">
                    <span class="placeholder col-5 font-size-XL color_8"></span>
                </p>
                <p aria-hidden="true">
                    <span class="placeholder col-5 font-size-M color_8"></span>
                </p>
            </div>
            <div class="d-flex gap-1 mb-1">
                <span class="material-icons font-size-XL color_8">calendar_month</span>
                <p aria-hidden="true">
                    <span class="placeholder col-5 font-size-M color_8"></span>
                </p>
            </div>
            <div class="movie-rating d-flex gap-1 mb-1">
                <span class="material-icons color_8">stars</span>
                <div class="movie-rating-stars ">
                    <i class="material-icons font-size-L star-gold">star</i>
                    <i class="material-icons font-size-L star-gold">star</i>
                    <i class="material-icons font-size-L star-gold">star</i>
                    <i class="material-icons font-size-L star-silver">star</i>
                    <i class="material-icons font-size-L star-silver">star</i>
                </div>
            </div>
            <hr>
            <div class="movie-action text-center">
                <p aria-hidden="true">
                    <span class="placeholder col-6"></span>
                </p>
                <p aria-hidden="true">
                    <span class="placeholder col-6"></span>
                </p>
                <p aria-hidden="true">
                    <span class="placeholder col-6"></span>
                </p>
            </div>

        </div>

        <div class="movie">
            <div class="movie-picture mb-1">
                <span class="glow-pic"></span>
            </div>
            <div class="movie-title">
                <p aria-hidden="true">
                    <span class="placeholder col-5"></span>
                </p>
            </div>
            <hr>
            <div class="d-flex gap-1 mb-1">
                <p aria-hidden="true">
                    <span class="placeholder col-5 font-size-XL color_8"></span>
                </p>
                <p aria-hidden="true">
                    <span class="placeholder col-5 font-size-M color_8"></span>
                </p>
            </div>
            <div class="d-flex gap-1 mb-1">
                <span class="material-icons font-size-XL color_8">calendar_month</span>
                <p aria-hidden="true">
                    <span class="placeholder col-5 font-size-M color_8"></span>
                </p>
            </div>
            <div class="movie-rating d-flex gap-1 mb-1">
                <span class="material-icons color_8">stars</span>
                <div class="movie-rating-stars ">
                    <i class="material-icons font-size-L star-gold">star</i>
                    <i class="material-icons font-size-L star-gold">star</i>
                    <i class="material-icons font-size-L star-gold">star</i>
                    <i class="material-icons font-size-L star-gold">star</i>
                    <i class="material-icons font-size-L star-silver">star</i>
                </div>
            </div>
            <hr>
            <div class="movie-action text-center">
                <p aria-hidden="true">
                    <span class="placeholder col-6"></span>
                </p>
                <p aria-hidden="true">
                    <span class="placeholder col-6"></span>
                </p>
                <p aria-hidden="true">
                    <span class="placeholder col-6"></span>
                </p>
            </div>
        </div>

        <div class="movie">
            <div class="movie-picture mb-1">
                <span class="glow-pic"></span>
            </div>
            <div class="movie-title">
                <p aria-hidden="true">
                    <span class="placeholder col-5"></span>
                </p>
            </div>
            <hr>
            <div class="d-flex gap-1 mb-1">
                <p aria-hidden="true">
                    <span class="placeholder col-5 font-size-XL color_8"></span>
                </p>
                <p aria-hidden="true">
                    <span class="placeholder col-5 font-size-M color_8"></span>
                </p>
            </div>
            <div class="d-flex gap-1 mb-1">
                <span class="material-icons font-size-XL color_8">calendar_month</span>
                <p aria-hidden="true">
                    <span class="placeholder col-5 font-size-M color_8"></span>
                </p>
            </div>
            <div class="movie-rating d-flex gap-1 mb-1">
                <span class="material-icons color_8">stars</span>
                <div class="movie-rating-stars ">
                    <i class="material-icons font-size-L star-gold">star</i>
                    <i class="material-icons font-size-L star-gold">star</i>
                    <i class="material-icons font-size-L star-gold">star</i>
                    <i class="material-icons font-size-L star-gold">star</i>
                    <i class="material-icons font-size-L star-silver">star</i>
                </div>
            </div>
            <hr>
            <div class="movie-action text-center">
                <p aria-hidden="true">
                    <span class="placeholder col-6"></span>
                </p>
                <p aria-hidden="true">
                    <span class="placeholder col-6"></span>
                </p>
                <p aria-hidden="true">
                    <span class="placeholder col-6"></span>
                </p>
            </div>
        </div>

        <div class="movie">
            <div class="movie-picture mb-1">
                <span class="glow-pic"></span>
            </div>
            <div class="movie-title">
                <p aria-hidden="true">
                    <span class="placeholder col-5"></span>
                </p>
            </div>
            <hr>
            <div class="d-flex gap-1 mb-1">
                <p aria-hidden="true">
                    <span class="placeholder col-5 font-size-XL color_8"></span>
                </p>
                <p aria-hidden="true">
                    <span class="placeholder col-5 font-size-M color_8"></span>
                </p>
            </div>
            <div class="d-flex gap-1 mb-1">
                <span class="material-icons font-size-XL color_8">calendar_month</span>
                <p aria-hidden="true">
                    <span class="placeholder col-5 font-size-M color_8"></span>
                </p>
            </div>
            <div class="movie-rating d-flex gap-1 mb-1">
                <span class="material-icons color_8">stars</span>
                <div class="movie-rating-stars ">
                    <i class="material-icons font-size-L star-gold">star</i>
                    <i class="material-icons font-size-L star-gold">star</i>
                    <i class="material-icons font-size-L star-gold">star</i>
                    <i class="material-icons font-size-L star-gold">star</i>
                    <i class="material-icons font-size-L star-silver">star</i>
                </div>
            </div>
            <hr>
            <div class="movie-action text-center">
                <p aria-hidden="true">
                    <span class="placeholder col-6"></span>
                </p>
                <p aria-hidden="true">
                    <span class="placeholder col-6"></span>
                </p>
                <p aria-hidden="true">
                    <span class="placeholder col-6"></span>
                </p>
            </div>
        </div>

        <div class="movie">
            <div class="movie-picture mb-1">
                <span class="glow-pic"></span>
            </div>
            <div class="movie-title">
                <p aria-hidden="true">
                    <span class="placeholder col-5"></span>
                </p>
            </div>
            <hr>
            <div class="d-flex gap-1 mb-1">
                <p aria-hidden="true">
                    <span class="placeholder col-5 font-size-XL color_8"></span>
                </p>
                <p aria-hidden="true">
                    <span class="placeholder col-5 font-size-M color_8"></span>
                </p>
            </div>
            <div class="d-flex gap-1 mb-1">
                <span class="material-icons font-size-XL color_8">calendar_month</span>
                <p aria-hidden="true">
                    <span class="placeholder col-5 font-size-M color_8"></span>
                </p>
            </div>
            <div class="movie-rating d-flex gap-1 mb-1">
                <span class="material-icons color_8">stars</span>
                <div class="movie-rating-stars ">
                    <i class="material-icons font-size-L star-gold">star</i>
                    <i class="material-icons font-size-L star-gold">star</i>
                    <i class="material-icons font-size-L star-gold">star</i>
                    <i class="material-icons font-size-L star-gold">star</i>
                    <i class="material-icons font-size-L star-silver">star</i>
                </div>
            </div>
            <hr>
            <div class="movie-action text-center">
                <p aria-hidden="true">
                    <span class="placeholder col-6"></span>
                </p>
                <p aria-hidden="true">
                    <span class="placeholder col-6"></span>
                </p>
                <p aria-hidden="true">
                    <span class="placeholder col-6"></span>
                </p>
            </div>
        </div>

        <div class="movie">
            <div class="movie-picture mb-1">
                <span class="glow-pic"></span>
            </div>
            <div class="movie-title">
                <p aria-hidden="true">
                    <span class="placeholder col-5"></span>
                </p>
            </div>
            <hr>
            <div class="d-flex gap-1 mb-1">
                <p aria-hidden="true">
                    <span class="placeholder col-5 font-size-XL color_8"></span>
                </p>
                <p aria-hidden="true">
                    <span class="placeholder col-5 font-size-M color_8"></span>
                </p>
            </div>
            <div class="d-flex gap-1 mb-1">
                <span class="material-icons font-size-XL color_8">calendar_month</span>
                <p aria-hidden="true">
                    <span class="placeholder col-5 font-size-M color_8"></span>
                </p>
            </div>
            <div class="movie-rating d-flex gap-1 mb-1">
                <span class="material-icons color_8">stars</span>
                <div class="movie-rating-stars ">
                    <i class="material-icons font-size-L star-gold">star</i>
                    <i class="material-icons font-size-L star-gold">star</i>
                    <i class="material-icons font-size-L star-gold">star</i>
                    <i class="material-icons font-size-L star-gold">star</i>
                    <i class="material-icons font-size-L star-silver">star</i>
                </div>
            </div>
            <hr>
            <div class="movie-action text-center">
                <p aria-hidden="true">
                    <span class="placeholder col-6"></span>
                </p>
                <p aria-hidden="true">
                    <span class="placeholder col-6"></span>
                </p>
                <p aria-hidden="true">
                    <span class="placeholder col-6"></span>
                </p>
            </div>
        </div>
    </div>

    <div class="text-center mt-3"><span class="placeholder col-5 " style="height: 50px;"></span></div>
    <p class="mt-3 placeholder-glow"><span class="placeholder col-5"></span><br></p>
    <div class="text-center"><span class="placeholder col-8" style="height: 30px;"></span></div>
    <p class="mt-3 placeholder-glow">
        <span class="placeholder col-5"></span><br>
        <span class="placeholder col-5"></span><br>
        <span class="placeholder col-5"></span>
    </p>

    <div class="text-center"><span class="placeholder col-5 " style="height: 50px;"></span></div>
    <p class="mt-3 placeholder-glow"><span class="placeholder col-5"></span><br></p>
    <div class="text-center"><span class="placeholder col-8" style="height: 30px;"></span></div>
    <p class="mt-3 placeholder-glow">
        <span class="placeholder col-5"></span><br>
        <span class="placeholder col-5"></span><br>
        <span class="placeholder col-5"></span>
    </p>
    
</div>

<!-- Loading animation -->
<div id="loading-animation">
    <div class="spinner"></div>
</div>

<body class="body">
    <button onclick="topFunction()" id="upBoutton" title="Go to top"><i class="material-icons">arrow_upward</i></button>

    <!-- Navbar -->
    <div class="custom-navbar">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <img class="nav-bar-logo" src="{{ url_for('static', filename='images/logo/logo.webp') }}" alt="" width="50">
                </a>
                <div class="menu">
                    <a id="menu_open" class="material-icons menu_open" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">menu</a>
                </div>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 gap-3">
                        <li class="nav-item">
                            <div class="nav-item-nav-bar">
                                <span class="material-icons nav-link-icon">movie</span>
                                <a class="nav-link" data-bs-toggle="modal" data-bs-target="#modalAddMovie">Ajouter un film</a>
                            </div>
                        </li>

                        <li class="nav-item">
                            <div class="nav-item-nav-bar">
                                <span class="material-icons nav-link-icon">manage_search</span>
                                <a class="nav-link" data-bs-toggle="modal" data-bs-target="#modalGestionsMovies">Gérer mes films</a>
                            </div>
                        </li>

                        <li class="nav-item">
                            <div class="nav-item-nav-bar">
                                <span class="material-icons nav-link-icon">api</span>
                                <a class="nav-link" href="{{ url_for('themoviedb') }}">TheMovieDB</a>
                            </div>
                        </li>
                    </ul>

                    <div class="switcher-modes">
                        <a id="mode-switcher">
                            <i class="material-icons mode-switcher-icon dark-mode-icon">brightness_3</i>
                            <i class="material-icons mode-switcher-icon light-mode-icon">wb_sunny</i>
                        </a>
                    </div>  
                </div>
            </div>
        </nav>
    </div>

    <!-- Le toast pour afficher les messages de la part du serveur -->
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="liveToastMsgServer" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <div class="toast-header-custom">
                    <img class="nav-bar-logo" src="{{ url_for('static', filename='images/logo/logo.webp') }}" alt="" width="25">
                    <strong class="me-auto">Message</strong>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                <p id="liveToastMsgServerContent"></p>
            </div>
        </div>
    </div>
    
    <!-- Modals -->
        <!-- Modal Add Movie -->
        <div class="modal fade" id="modalAddMovie" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalAddMovie" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Ajouter un film à votre vidéothèque</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="info-message mb-3">
                            <div class="icon-info-message"><span class="material-icons info_">info</span></div>
                            <div class="info-texte">
                                <p>
                                    Les champs marqués d’un (<strong class="color_7">*</strong>) sont obligatoires.
                                </p>
                            </div>
                        </div>

                        <form class="g-3 needs-validation" id="formAddMovie" enctype="multipart/form-data" novalidate>
                            <div class="input mb-3 col-md-5">
                                <label for="validationCustom01" class="form-label">Nom du film <strong class="color_7">*</strong></label>
                                <input type="text" name="movie_name" class="form-control input" required>
                                <div class="invalid-feedback color_7">Champ nécessaire</div>
                            </div>

                            <div class="input mb-3 col-md-5">
                                <label for="validationCustom02" class="form-label">Année de sortie <strong class="color_7">*</strong></label>
                                <input type="number" name="year_of_creation" class="form-control input" required>
                                <div class="invalid-feedback color_7">Champ nécessaire</div>
                            </div>

                            <div class="input mb-3 col-md-5">
                                <label for="validationCustom03" class="form-label">Réalisateur</label>
                                <input type="text" name="director" class="form-control input">
                            </div>

                            <div class="input mb-3 col-md-5">
                                <label for="validationCustom03" class="form-label">Catégorie <strong class="color_7">*</strong></label>
                                <select name="categorie" class="form-select" aria-label="Catégorie de film" required>
                                    <option selected disabled value="">Sélectionnez une catégorie</option>
                                    <option class="input" value="Action">Action</option>
                                    <option class="input" value="Aventure">Aventure</option>
                                    <option class="input" value="Animation">Animation</option>
                                    <option class="input" value="Comédie">Comédie</option>
                                    <option class="input" value="Drame">Drame</option>
                                    <option class="input" value="Science-fiction">Science-fiction</option>
                                    <option class="input" value="Horreur">Horreur</option>
                                    <option class="input" value="Fantaisie">Fantaisie</option>
                                    <option class="input" value="Thriller">Thriller</option>
                                    <option class="input" value="Romance">Romance</option>
                                    <option class="input" value="Documentaire">Documentaire</option>
                                    <option class="input" value="Crime">Crime</option>
                                    <option class="input" value="Mystère">Mystère</option>
                                    <option class="input" value="Guerre">Guerre</option>
                                    <option class="input" value="Historique">Historique</option>
                                    <option class="input" value="Musique">Musique</option>
                                    <option class="input" value="Familial">Familial</option>
                                    <option class="input" value="Sport">Sport</option>
                                    <option class="input" value="Biographie">Biographie</option>
                                    <option class="input" value="Western">Western</option>
                                    <option class="input" value="Super-héros">Super-héros</option>
                                </select>
                                <div class="invalid-feedback color_7">Champ nécessaire</div>
                            </div>
                            
                            <div class="input mb-3">
                                <label for="validationCustom03" class="form-label">Synopsis</label>
                                <textarea name="synopsis" class="form-control input synopsis" maxlength="255"></textarea>
                                <div id="charCount"></div>
                            </div>
                            
                            <label for="notation">Votre avis sur le film</label>
                            <div class="rating">
                                <i class="material-icons star">star</i>
                                <i class="material-icons star">star</i>
                                <i class="material-icons star">star</i>
                                <i class="material-icons star">star</i>
                                <i class="material-icons star">star</i>
                            </div>
                            <input type="hidden" name="notation" class="rating-input" required>
                            <div class="invalid-feedback color_7">Champ nécessaire</div>

                            <div class="movie-image mb-2 mt-2">
                                <label for="image du film">Image du film</label> 
                                
                                <div class="info-message mb-3">
                                    <div class="icon-info-message"><span class="material-icons info_">info</span></div>
                                    <div class="info-texte">
                                        <p class="font-size-S">
                                            Les formats accépté sonts : (png, jpg, webp)
                                        </p>
                                    </div>
                                </div>
                                <input type="file" class="form-control input" name="cover_image" accept=".png, .jpg, .webp">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                        <button type="button" class="btn btn-primary" onclick="submitFormAddMovie()">Ajouter le film</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal Movies Gestions -->
        <div class="modal fade" id="modalGestionsMovies" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalGestionsMovies" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="modalGestionsMovies">Vos films possédés</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid mt-2">
                            <h4 id="nbTotalMovies"></h4>

                            <div class="operations">
                                <div class="operation-filter">
                                    <label for="Filtrer les films">Afficher celon une catégorie</label>
                                    <select class="form-select" aria-label="Catégorie de film" required>
                                        <option class="input" selected disabled value="">Filtrer selon une catégorie</option>
                                        <option class="input" value="Tous">Tous les films</option>
                                        <option class="input" value="Action">Action</option>
                                        <option class="input" value="Aventure">Aventure</option>
                                        <option class="input" value="Animation">Animation</option>
                                        <option class="input" value="Comédie">Comédie</option>
                                        <option class="input" value="Drame">Drame</option>
                                        <option class="input" value="Science-fiction">Science-fiction</option>
                                        <option class="input" value="Horreur">Horreur</option>
                                        <option class="input" value="Fantaisie">Fantaisie</option>
                                        <option class="input" value="Thriller">Thriller</option>
                                        <option class="input" value="Romance">Romance</option>
                                        <option class="input" value="Documentaire">Documentaire</option>
                                        <option class="input" value="Crime">Crime</option>
                                        <option class="input" value="Mystère">Mystère</option>
                                        <option class="input" value="Guerre">Guerre</option>
                                        <option class="input" value="Historique">Historique</option>
                                        <option class="input" value="Musique">Musique</option>
                                        <option class="input" value="Familial">Familial</option>
                                        <option class="input" value="Sport">Sport</option>
                                        <option class="input" value="Biographie">Biographie</option>
                                        <option class="input" value="Western">Western</option>
                                        <option class="input" value="Super-héros">Super-héros</option>
                                    </select>
                                </div>

                                <div class="operation-search">
                                    <label for="Rechercher un film">Rechercher un film</label>
                                    <input class="form-control me-2 input" type="search" placeholder="Chercher un film" aria-label="Search">
                                </div>
                            </div>

                            <label for="Table de tous films" class="mt-3 mb-1">Vos films</label>

                            <!-- Tableau pour les ordinateurs de bureau -->
                            <table class="full-screen table table-responsive table-secondary" id="desktopTable">
                                <thead class="table-primary">
                                    <tr class="text-center">
                                        <th scope="col">#</th>
                                        <th scope="col">Titre</th>
                                        <th scope="col">Année de sortie</th>
                                        <th scope="col">Réalisateur</th>
                                        <th scope="col">Catégorie</th>
                                        <th scope="col">Note</th>
                                        <th scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <tbody id="movieTableBody">
                                    <!-- Les lignes des films seront insérées ici via AJAX -->
                                </tbody>
                            </table>

                            <!-- Tableau pour les smartphones -->
                            <table class="smartphone table table-responsive table-secondary" id="smartphoneTable">
                                <thead class="table-primary">
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Film</th>
                                        <th scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <tbody id="movieTableBodySmartphone">
                                    <!-- Les lignes des films seront insérées ici via AJAX -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="parent-container-delete-movie">
            
        </div>
    <!-- END/Modals -->

    <!-- Content -->
    <div class="container">
        <h1>Bienvenue dans votre vidéothèque personnelle</h1>
        <!-- Filter movie-->
        <div class="filters">
            <div class="filter-div">
                <select class="form-select filter-movies-index" aria-label="Catégorie de film" required>
                    <option class="input" value="Toutes">Filtrer selon une catégorie</option>
                    <option class="input" value="Action">Action</option>
                    <option class="input" value="Aventure">Aventure</option>
                    <option class="input" value="Animation">Animation</option>
                    <option class="input" value="Comédie">Comédie</option>
                    <option class="input" value="Drame">Drame</option>
                    <option class="input" value="Science-fiction">Science-fiction</option>
                    <option class="input" value="Horreur">Horreur</option>
                    <option class="input" value="Fantaisie">Fantaisie</option>
                    <option class="input" value="Thriller">Thriller</option>
                    <option class="input" value="Romance">Romance</option>
                    <option class="input" value="Documentaire">Documentaire</option>
                    <option class="input" value="Crime">Crime</option>
                    <option class="input" value="Mystère">Mystère</option>
                    <option class="input" value="Guerre">Guerre</option>
                    <option class="input" value="Historique">Historique</option>
                    <option class="input" value="Musique">Musique</option>
                    <option class="input" value="Familial">Familial</option>
                    <option class="input" value="Sport">Sport</option>
                    <option class="input" value="Biographie">Biographie</option>
                    <option class="input" value="Western">Western</option>
                    <option class="input" value="Super-héros">Super-héros</option>
                </select> 
            </div>
        </div>
        <div class="movies">
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
   
    <script src="{{ url_for('static', filename='js/tools/tools.js') }}"></script>
    <script src="{{ url_for('static', filename='js/index/fun.js') }}"></script>
    <script src="{{ url_for('static', filename='js/index/modals.js') }}"></script>
</body>
</html>
