{% extends 'videotheque/template.html' %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/videotheque/edit-movie/edit-movie.css') }}">
{% endblock %}

{% block title %}
    <title>Modification d'un film</title>
{% endblock %}

{% block content %}
    <div class="container">
        <a id="return_back" class="material-icons arrow_back">arrow_back</a>
        
        <input type="hidden" id="movie-id" value="{{ movie.id }}">
        <h1>Modifier les données d'un film</h1>
        <h3 class="mt-3">Film concerné : <span class="color_1">{{ movie.name }}</span></h3>

        <div class="movie-data background_color_2 mt-3">
            <form class="g-3 needs-validation" id="formEditMovie" enctype="multipart/form-data" novalidate>

                <div class="movie-name movie-info mb-3">
                    <div class="label-movie-name">
                        <label for="input-movie-name">Nom du film : <strong class="original-data" data-original="{{ movie.name }}">{{ movie.name }}</strong></label>
                    </div>
            
                    <div class="edit-data-movie">
                        <div class="input-movie-name input-width">
                            <input class="form-control input-edit-movie" type="text" name="movie_name" id="input-movie-name" value="{{ movie.name }}">
                        </div>
                        <div class="edit-data-button">
                            <a class="edit-icon-button deco-none material-icons">edit</a>
                            <a class="confirm-icon-button deco-none material-icons">check</a>
                        </div>
                    </div>
                </div>
            
                <div class="movie-director movie-info mb-3">
                    <div class="label-movie-director">
                        <label for="input-movie-director">Réalisateur du film : <strong class="original-data" data-original="{{ movie.director }}">{{ movie.director }}</strong></label>
                    </div>
            
                    <div class="edit-data-movie">
                        <div class="input-movie-director input-width">
                            <input class="form-control input-edit-movie" type="text" name="director" id="input-movie-director" value="{{ movie.director }}">
                        </div>
                        <div class="edit-data-button">
                            <a class="edit-icon-button deco-none material-icons">edit</a>
                            <a class="confirm-icon-button deco-none material-icons">check</a>
                        </div>
                    </div>
                </div>
            
                <div class="movie-date-creation movie-info mb-3">
                    <div class="label-movie-creation">
                        <label for="input-movie-year">Année de sortie : <strong class="original-data" data-original="{{ movie.year }}">{{ movie.year }}</strong></label>
                    </div>
            
                    <div class="edit-data-movie">
                        <div class="input-movie-date-creation input-width">
                            <input class="form-control input-edit-movie" type="number" name="year_of_creation" id="input-movie-year" value="{{ movie.year }}">
                        </div>
                        <div class="edit-data-button">
                            <a class="edit-icon-button deco-none material-icons">edit</a>
                            <a class="confirm-icon-button deco-none material-icons">check</a>
                        </div>
                    </div>
                </div>
                
                
                <div class="movie-category movie-info mb-3">
                    <div class="label-movie-category">
                        <label for="input-movie-category">Catégorie du film : <strong class="original-data" data-original="{{ movie.category }}">{{ movie.category }}</strong></label>
                    </div>
            
                    <div class="edit-data-movie">
                        <div class="input-movie-category input-width">
                            <select id="select-movie-category" name="category" class="form-select input-edit-movie" aria-label="Catégorie de film" required>
                                <option selected disabled value="">Sélectionnez une catégorie</option>
                                <option class="input" value="Action">Action</option>
                                <option class="input" value="Aventure">Aventure</option>
                                <option class="input" value="Animation">Animation</option>
                                <option class="input" value="Comédie">Comédie</option>
                                <option class="input" value="Drame">Drame</option>
                                <option class="input" value="Science-fiction">Science-fiction</option>
                                <option class="input" value="Horreur">Horreur</option>
                                <option class="input" value="Fantaisie">Fantaisie</option>
                                <option class="input" value="Thriller">Thriller</option>
                                <option class="input" value="Romance">Romance</option>
                                <option class="input" value="Documentaire">Documentaire</option>
                                <option class="input" value="Crime">Crime</option>
                                <option class="input" value="Mystère">Mystère</option>
                                <option class="input" value="Guerre">Guerre</option>
                                <option class="input" value="Historique">Historique</option>
                                <option class="input" value="Musique">Musique</option>
                                <option class="input" value="Familial">Familial</option>
                                <option class="input" value="Sport">Sport</option>
                                <option class="input" value="Biographie">Biographie</option>
                                <option class="input" value="Western">Western</option>
                                <option class="input" value="Super-héros">Super-héros</option>
                            </select>
                        </div>
                        <div class="edit-data-button">
                            <a class="edit-icon-button deco-none material-icons">edit</a>
                            <a class="confirm-icon-button deco-none material-icons">check</a>
                        </div>
                    </div>
                </div>

                <div class="movie-date-notation movie-info mb-3">
                    <div class="label-movie-notation">
                        <label for="notation">Votre avis sur le film : 
                            <h3><span class="badge text-bg-primary original-data" data-original="{{ movie.rating }}">{{ movie.rating }}/5</span></h3>
                        </label>
                    </div>

                    <div class="edit-data-movie">
                        <div class="input-movie-notation input-notation-width">
                            <input class="form-control input-edit-movie" type="number" name="notation" id="input-movie-notation" value="{{ movie.rating }}">
                        </div>
                        <div class="edit-data-button">
                            <a class="edit-icon-button deco-none material-icons">edit</a>
                            <a class="confirm-icon-button deco-none material-icons">check</a>
                        </div>
                    </div>
                </div>

                <div class="movie-synopsis movie-info mb-3">
                    <div class="label-movie-synopsis mb-3">
                        <label for="input-movie-synopsis">
                            Synopsis du film 
                        </label>
                        <div class="synopsis-box">
                            <span class="original-data" data-original="{{ movie.synopsis }}">{{ movie.synopsis }}</span>
                        </div>
                    </div>
            
                    <div class="edit-data-movie">
                        <div class="input-synopsis">
                            <textarea class="form-control input-edit-movie" name="synopsis" id="input-movie-synopsis">{{ movie.synopsis }}</textarea>
                        </div>
                        <div class="edit-data-button">
                            <a class="edit-icon-button deco-none material-icons">edit</a>
                            <a class="confirm-icon-button deco-none material-icons">check</a>
                        </div>
                    </div>
                </div>
            </form>
            
        </div>
    </div>
{% endblock %}

{% block jsScripts %}
    <script src="{{ url_for('static', filename='js/videotheque/edit-movie/edit-movie.js') }}"></script>
{% endblock %}