{% extends 'videotheque/template.html' %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/videotheque/show-movie/show-movie.css') }}">
{% endblock %}

{% block title %}
    <title>Détails du film : {{ movie.movie_name }}</title>
{% endblock %}

{% block content %}

    <div class="container">
        <a id="return_back" class="material-icons arrow_back">arrow_back</a>
        
        <div class="movie">
            <div class="movie-img">
                {% if movie.extension_trouvee %}
                    <img src="https://image.tmdb.org/t/p/w500/{{ movie.image64 }}" alt="Movie Cover">
                {% else %}
                    <img src="data:image/jpeg;base64,{{ movie.image64 | safe }}" alt="Movie Cover">
                {% endif %}
            </div>

            <div class="movie-content">
                <div class="movie-title">
                    <h1>{{ movie.movie_name }}</h1>
                </div>
                <div class="movie-date-creation">
                    <span class="d-flex gap-1">
                        <span class="material-icons">calendar_month</span>
                        <strong>Date de sortie</strong>
                    </span>
                    <h6 class="color_8">{{ movie.year }}</h6>
                </div>
                <div class="movie-category">
                    <span class="d-flex gap-1">
                        <span class="material-icons">category</span>
                        <strong>Genres</strong>
                    </span> 
                    <h6 class="color_8">{{ movie.category }}</h6>
                </div>
                <div class="movie-rating">
                    <!-- Rempli avec le code jquery -->  
                </div>
                <div class="movie-director">
                    <span class="d-flex gap-1">
                        <span class="material-icons">history_edu</span>
                        <strong>Réalisateurs</strong>
                    </span> 
                    <h6 class="color_8">{{ movie.director }}</h6>
                </div>

                <div class="movie-synopsis">
                    <span class="d-flex gap-1">
                        <span class="material-icons">format_quote</span>
                        <strong>Synopsis</strong>
                    </span> 
                    <p class="span-synopsis">
                        {{ movie.synopsis }}
                    </p>
                </div>

            </div>
        </div>
    </div>

    {% if movie.extension_trouvee %}
        <style>
            /* Ce code CSS gère l'image d'arrière plan */
            .movie::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-image: url("https://image.tmdb.org/t/p/w500/{{movie.image64}}");
                background-size: cover;
                background-position: center;
                filter: blur(3px);
                opacity: 0.5;
                z-index: -1;
            }
        </style>         
    {% else %}
        <style>
            /* Ce code CSS gère l'image d'arrière plan */
            .movie::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-image: url('data:image/jpeg;base64,{{ movie.image64 | safe }}');
                background-size: cover;
                background-position: center;
                filter: blur(3px);
                opacity: 0.5;
                z-index: -1;
            }
        </style>
    {% endif %}

    
{% endblock %}

{% block jsScripts %}
    <script src="https://cdn.jsdelivr.net/npm/colorthief@2.3.0/dist/color-thief.min.js"></script>

    <script type="text/javascript">
        // Définition d'une variable globale, dans le contexte global afin qu'elle soit accessible dans le fichier JavaScript
        var movieNotation = {{ movie.notation }};
    </script>

    <script src="{{ url_for('static', filename='js/videotheque/show-movie/show-movie.js') }}"></script>
{% endblock %}


  
    
