{% extends 'videotheque/template.html' %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/videotheque/show-movie/show-movie.css') }}">
{% endblock %}

{% block title %}
    <title>Détails du film : {{ movie.movie_name }}</title>
{% endblock %}

{% block content %}

    <div class="container">
        <a id="return_back" class="material-icons arrow_back">arrow_back</a>
        
        <div class="movie">
            <div class="movie-img">
                <img src="data:image/jpeg;base64,{{ movie.image64 | safe }}" alt="Movie Cover">
            </div>

            <div class="movie-content">
                <div class="movie-title">
                    <h1>{{ movie.movie_name }}</h1>
                </div>
                <div class="movie-date-creation">
                    <h6>{{ movie.year }}</h6>
                </div>
                <div class="movie-category">
                    <h6>{{ movie.category }}</h6>
                </div>
                <div class="movie-rating">
                    <!-- Rempli avec le code jquery -->  
                </div>
                <div class="movie-synopsis">
                    <p>
                        <strong>Synopsis</strong> 
                        <br>
                        <span class="span-synopsis">{{ movie.synopsis }}</span>
                    </p>
                </div>
                <div class="movie-director">
                    <p>
                        <strong>Réalisateur</strong> 
                        <br>
                        {{ movie.director }}
                    </p>
                </div>
            </div>
        </div>
    </div>

    <style>
        /* Ce code CSS gère l'image d'arrière plan */
        .movie::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-image: url('data:image/jpeg;base64,{{ movie.image64 | safe }}');
            background-size: cover;
            background-position: center;
            filter: blur(3px);
            opacity: 0.5;
            z-index: -1;
        }
    </style>
{% endblock %}

{% block jsScripts %}
    <script src="https://cdn.jsdelivr.net/npm/colorthief@2.3.0/dist/color-thief.min.js"></script>

    <script type="text/javascript">
        // Définition d'une variable globale, dans le contexte global afin qu'elle soit accessible dans le fichier JavaScript
        var movieNotation = {{ movie.notation }};
    </script>

    <script src="{{ url_for('static', filename='js/videotheque/show-movie/show-movie.js') }}"></script>
{% endblock %}


  
    
