{% extends 'themoviedb/template.html' %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/show-movie/show-movie.css') }}">
{% endblock %}

{% block title %}
    <title>Détails du film : {{ movie.title }}</title>
{% endblock %}

{% block content %}
    <div class="container">

        <a id="return_back" class="material-icons arrow_back">arrow_back</a>

        <div class="movie">
            <div class="movie-img">
                <img class="img-movie" src="{{movie.cover}}">
            </div>

            <div class="movie-content">
                <div class="movie-title">
                    <h1>{{ movie.title }}</h1>
                </div>
                <div class="movie-date-creation">
                    <strong>Date de sortie</strong>
                    <h6 class="color_8">{{ movie.release.strftime('%d/%m/%Y') }}</h6>
                </div>
                <div class="movie-date-creation">
                    <strong>Durée du film</strong>
                    <h6 class="color_8">{{ movie.runtime }}</h6>
                </div>
                <div class="movie-category">
                    <strong>Genres</strong>
                    <h6 class="color_8">{{ movie.category }}</h6>
                </div>
                <div class="movie-rating">
                    <strong>Note des utilisateurs</strong>
                    {% if movie.notation >= 5 %}
                        <h6 class="color_3">{{ movie.notation }}</h6>
                    {% else %}
                        <h6 class="color_7">{{ movie.notation }}</h6>
                    {% endif %}
                </div>
                <div class="movie-synopsis mt-1">
                    <p>
                        <strong>Synopsis</strong>
                        <br>
                        <span class="span-synopsis">{{ movie.synopsis }}</span>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <style> 
        .movie::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-image: url('data:image/jpeg;base64,{{ movieCover | safe }}');
            background-size: cover;
            background-position: center;
            filter: blur(3px);
            opacity: 0.5;
            z-index: -1;
        }
    </style>
{% endblock %}

{% block jsScripts %}
    <script src="https://cdn.jsdelivr.net/npm/colorthief@2.3.0/dist/color-thief.min.js"></script>
    <script src="{{ url_for('static', filename='js/themoviedb/show-movie-details.js') }}"></script>
{% endblock %}