{% extends 'themoviedb/template.html' %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/themoviedb/show-movie.css') }}">
{% endblock %}

{% block title %}
    <title>Détails du film : {{ movie.title }}</title>
{% endblock %}

{% block content %}
    <div class="container">

        <a id="return_back" class="material-icons arrow_back">arrow_back</a>

        {% if current_user.is_authenticated %}
            <a id="btnAddToVideotheque" class="add-to-videotheque">
                <span class="material-icons add_btn">add</span>
                <span>Ajouter à ma vidéothèque</span>
            </a>
        {% endif %}

        <div class="movie">
            <div class="movie-img">
                <img class="img-movie" src="{{movie.cover}}">
            </div>

            <div class="movie-content">
                <div class="movie-title">
                    <h1 class="title">{{ movie.title }}</h1>
                </div>

                <div class="movie-date-creation">
                    <span class="d-flex gap-1">
                        <span class="material-icons">calendar_month</span>
                        <strong>Date de sortie</strong>
                    </span>
                    <h6 class="color_8 release">{{ movie.release.strftime('%d/%m/%Y') }}</h6>
                </div>

                <div class="movie-date-creation">
                    <span class="d-flex gap-1">
                        <span class="material-icons">av_timer</span>
                        <strong>Durée du film</strong>
                    </span>
                    <h6 class="color_8">{{ movie.runtime }}</h6>
                </div>

                <div class="movie-category">
                    <span class="d-flex gap-1">
                        <span class="material-icons">category</span>
                        <strong>Genres</strong>
                    </span> 
                    <h6 class="color_8 category">{{ movie.category }}</h6>
                </div>

                <div class="movie-budget">
                    <span class="d-flex gap-1">
                        <span class="material-icons">savings</span>
                        <strong>Budget</strong>
                    </span> 
                    <h6 class="color_8">{{ movie.budget }}</h6>
                </div>

                <div class="movie-revenue">
                    <span class="d-flex gap-1">
                        <span class="material-icons">currency_exchange</span>
                        <strong>Chiffre d'affaires</strong>
                    </span> 
                    <h6 class="color_8">{{ movie.revenue }}</h6>
                </div>

                <div class="movie-rating">
                    <span class="d-flex gap-1">
                        <span class="material-icons">hotel_class</span>
                        <strong>Note des utilisateurs</strong>
                    </span> 
                    {% if movie.notation >= 5 %}
                        <h6 class="color_13 notation">{{ movie.notation }}</h6>
                    {% else %}
                        <h6 class="color_7 notation">{{ movie.notation }}</h6>
                    {% endif %}
                </div>

                <div class="movie-synopsis mt-1">
                    <p>
                        <strong>Synopsis</strong>
                        <br>
                        <span class="span-synopsis">{{ movie.synopsis }}</span>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <style> 
        .movie::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-image: url('{{ movie.cover }}');
            background-size: cover;
            background-position: center;
            filter: blur(3px);
            opacity: 0.5;
            z-index: -1;
        }
    </style>
{% endblock %}

{% block jsScripts %}
    <script src="{{ url_for('static', filename='js/themoviedb/show-movie-details.js') }}"></script>
{% endblock %}