{% extends 'themoviedb/template.html' %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/themoviedb/themoviedb.css') }}">
{% endblock %}

{% block title %}
    <title>API TheMovieDB</title>
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="text-center">Intéragir avec l'api de TheMovieDB</h1>
        
        <form class="mt-3" id="searchForm">
            <div class="form-group">
                <label for="searchType">1-Choisissez le type de recherche :</label>
                <select class="form-select mt-1" id="searchType">
                    <option value="name">Par Nom de Film</option>
                    <option value="category">Par Catégorie de Film</option>
                    <option value="year">Par Année de Sortie</option>
                </select>
            </div>
            <div class="movies-category form-group" id="searchInputContainer">
                <!-- Les champs de saisie seront ajoutés dynamiquement ici en utilisant jQuery -->
            </div>
            <div class="d-grid">
                <button type="submit" class="btn btn-primary mt-3" id="btn-submit-search">
                    <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
                    Rechercher
                </button>
            </div>
        </form>

        <div class="fast-search mt-3">
            <h4>Recherches rapides</h4>
            <div class="fast-search-btns">
                <div class="fast-search-btn">
                    <button id="recent-release" class="btn btn-primary btn-rounded btn-sm d-flex gap-2">
                        <span class="material-icons">movie</span> 
                        Dernières sorties
                    </button>
                </div>
                <div class="fast-search-btn">
                    <button id="bests-notations" class="btn btn-success btn-rounded btn-sm d-flex gap-2">
                        <span class="material-icons">theaters</span> 
                        Les mieux notés
                    </button>
                </div>
                <div class="fast-search-btn">
                    <button id="fr-movies" class="btn btn-warning btn-rounded btn-sm d-flex gap-2">
                        <span class="material-icons">theater_comedy</span> 
                        <span class="color_9">Films Horreurs</span>
                    </button>
                </div>
            </div>
        </div>

        <div id="searchResults" class="mt-4 movies">
            <!-- Les résultats de la recherche seront affichés ici en utilisant jQuery -->
        </div>
        
    </div>
{% endblock %}

{% block jsScripts %}
    <script src="{{ url_for('static', filename='js/themoviedb/themoviedb.js') }}"></script>
{% endblock %}
